@{
    ViewData["Title"] = "ProductList";
}

<h1>Products</h1>
<div style="  background: #d6ebd6;
    padding: 10px; " class="msg">@if (TempData["edtmsg"] != null)
            {
                 @TempData["edtmsg"].ToString();
            }
            @if (TempData["delmsg"] != null)
            { 
                 @TempData["delmsg"].ToString();
            }
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>
                ProductId
            </th>
            <th>
                ProductName
            </th>
            <th>
                QuantityPerUnit
            </th>
            <th>
                UnitPrice
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //if $(.msg) is display then make it display none after 2 sec
        if ($('.msg').css('display') == 'block') {
            setTimeout(function () {
                $('.msg').css('display', 'none');
            }, 2000);
        }
        //check if string is text using regex pattern
        if ( $('.msg').html() != "") {
            $('.msg').css('display', 'block');
        }
        else {
            $('.msg').css('display', 'none');
        }
        debugger;
        $.ajax({
            url: 'https://localhost:7088/api/Products',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                var html = '';
                $.each(data, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.productId + '</td>';
                    html += '<td>' + item.productName + '</td>';
                    html += '<td>' + item.quantityPerUnit + '</td>';
                    html += '<td>' + item.unitPrice + '</td>';
                    html += '<td><a href="/products/edit/' + item.productId + '"><img src="img/edit.png" width="20px"/></a></td>';
                    html += '<td><a href="/products/delete/' + item.productId + '"><img src="img/close.png" width="20px"></a></td>';
                    html += '</tr>';
                });
                $('tbody').html(html);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

</script>
