@model ODataBookStoreWebClient.Entity.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* Location *@
            <h2>Location</h2>
            @* Name *@
            <div class="form-group">
                <label asp-for="Location.City " class="control-label"></label>
                <input asp-for="Location.City" class="form-control" />
                <span asp-validation-for="Location.City" class="text-danger"></span>
            </div>
            @* Address *@
            <div class="form-group">
                <label asp-for="Location.Street" class="control-label"></label>
                <input asp-for="Location.Street" class="form-control" />
                <span asp-validation-for="Location.Street" class="text-danger"></span>
            </div>
            @* Press *@
            <h2>Press</h2>
            @* Name *@
            <div class="form-group">
                <label asp-for="Press.Name" class="control-label"></label>
                <input asp-for="Press.Name" class="form-control" />
                <span asp-validation-for="Press.Name" class="text-danger"></span>
            </div>
            @* CAtegory *@ 
            <div class="form-group">
                <label asp-for="Press.Category" class="control-label"></label>
                <select asp-for = "Press.Category" class="form-control">
                @foreach (var item in Enum.GetValues(typeof(ODataBookStore.Category)))
                {
                    if (item == Model.Press.Category)
                    {
                        <option selected="selected" value="@item">@Enum.GetName(typeof(ODataBookStore.Category), item)</option>
                    }
                    else{
                        <option value="@item">@Enum.GetName(typeof(ODataBookStore.Category), item)</option>
                    }
                }
                </select>
                <span asp-validation-for="Press.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
